html {
	height: 100%;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, yellow, #ffff99);
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

li {
	display: inline;
	margin: 5px 25px 25px 0;
}

div.form {
	display: block;
	text-align: center;
}

form {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

fieldset {
	border: 2px solid #999;
	border-radius: 5px;
	padding: 8px;
	box-shadow:0 0 8px #999;
}

.footerClass {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
